*{
  border: 2px dashed red;
}
body{background-color: antiquewhite;}
main{
  display: flex;
  align-items: center;
}
.content{
  flex:1 ; /*pozwól wyświetlić się elementowi na całą szerokość */
  display: flex;
  justify-content: center; /*wycentruj horyzontalnie */
}
.leftArr,
.rightArr{
  border: 2px dashed red;
  padding: 1rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: azure;
}
footer{
  /*display: flex;
  justify-content: end;*/
  text-align: right;
  margin-top: 4rem;
}